$em-base: 24px;
$visual-grid: true !global;
$visual-grid-color: #4797c3 !global;
$visual-grid-opacity: 0.1 !global;
$column: modular-scale(6, 1em, $modular-scale-ratio) !global;
$gutter: modular-scale(1, 1em, $modular-scale-ratio) !global;
$modular-scale-ratio: $golden;
// Colorscale
$black: #555;
$gray-light: #C6C6C6;
$gray-lighter: #EEE;
