@import "bourbon";
@import "neat-helpers";
@import "modules/_variables.scss";
@import "neat";
@import "partials/_typography.scss";

body {
  @include outer-container;
  font-size: $em-base;
  background-color: $gray-lighter;
  font-family: sans-serif;
  color: $black;
  main {
    @include span-columns(7);
    @include shift(3);
  }
}
