doctype html
html(lang="en")
  include ./includes/head.pug
  body
    header
    main
      h1= message
    footer
  if ENV_DEVELOPMENT
    script(src="/scripts.js")
  else
    script(src="/scripts.min.js")
